@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.selecttime-section {
    margin: 20px auto;
    text-align: center;
}

.timestamp-title {
    font-family: 'Kanit';
    font-size: 20px;
    margin-bottom: 10px;
}

.select-dropdown {
    width: 220px;
    padding: 7px;
    margin-right: 10px;
    font-size: 16px;
    outline: none ;
    background-color: #E5E0FF;
    border: none;
    border-radius: 5px;
}

.tableScore-container {
    margin: 20px auto;
    overflow-x: auto;
}

/* Add this CSS to set fixed width for each column */
td[id^="a"],
td[id^="b"],
td[id^="c"],
td[id^="d"],
td[id^="e"],
td[id^="f"],
td[id^="g"],
td[id^="h"],
td[id^="i"] {
    width: 50px; /* Adjust the width as per your preference */
}

/* Update existing CSS */
table {
    border-collapse: collapse;
    width: auto; /* Change width to auto to allow table to expand based on column widths */
    table-layout: fixed; /* Fixed layout so that the columns have equal width */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Prevent wrapping of content */
    overflow: hidden; /* Hide overflow content */
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #7286D3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #455181;
}