.grid-container {
    display: grid; /* Use CSS Grid layout */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Create grid columns that are at least 300px wide and can expand to fill available space */
    margin: 20px auto; /* Add margin above and below the grid container, and center horizontally */
    gap: 20px; /* Set the gap between grid items */
}

.role-area {
    
    padding: 15px; /* Add padding inside role areas */
    margin: 10px; /* Add margin around role areas */
    border-radius: 10px; /* Make the border of role areas more rounded */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35); /* Add a shadow effect to role areas */
}

.role-name {
    font-weight: bold; /* Make the role name text bold */
    text-align: center; /* Center align the role name text */
}

.heatext {
    color: green; /* Set the color of text with class "heatext" to green */
    font-weight: bold; /* Make text with class "heatext" bold */
}

/* Background colors for each role */
.role-area.IM {
    background-color: #FF5733; /* Implementer */
}

.role-area.CO {
    background-color: #33FF57; /* Co-ordinator */
}

.role-area.SH {
    background-color: #337AFF; /* Shaper */
}

.role-area.PL {
    background-color: #33FFAB; /* Plant */
}

.role-area.RI {
    background-color: #FF33E9; /* Resource Investigator */
}

.role-area.ME {
    background-color: #FF9D33; /* Monitor Evaluator */
}

.role-area.TW {
    background-color: #8C33FF; /* Teamworker */
}

.role-area.CF {
    background-color: #FF3333; /* Completer Finisher */
}

.role-area.SP {
    background-color: #33FF9D; /* Specialist */
}
