.role-score-chart {
    font-family: 'Fredoka';
    color: #455181;
    font-size: 30px;
    position: relative;
    top: 50px; /* Adjust this value to suit your layout */
}

.role-chart {
    overflow: auto;
    font-family: 'Fredoka';
    background-color: #FFF2F2;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
    position: relative;
    top: 40px; /* Reset top value */
    transform: translateY(30px); /* Adjust this value based on your layout */
}
