.grid-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 20px auto;
	gap: 20px;
}
.role-area{
    background-color: #f2f2f2; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 15px;
    margin: 10px; 
}
.role-name {
    font-weight: bold; 
    text-align: center; 
}
.heatext {
    color: green; 
    font-weight: bold; 
}